- page.title=job.name
- var urlTable={"うそつき人狼":"http://jinraw.com/usotsuki","月夜の人狼":"http://rakurakutei.fool.jp/moon_wolf"};
article
  h1= job.name
  p.bcl [[役職一覧]] > #{job.name}
  div.jobinfo
    dl
      dt 陣営
      dd [[#{job.team}]]
      dt 系統
      if job.type=="なし"
        dd なし
      else
        dd [[#{job.type}]]
      dt 占い結果
      dd= job.fortune
      dt 霊能結果
      dd= job.psychic
      dt 終了判定カウント
      dd= job.judge
      dt 夜選択
      if job.select
        dd= job.select
      else
        dd なし
      dt 出典
      dd
        if job.source in urlTable
          a(href=urlTable[job.source],target="_blank")= job.source
        else
          = job.source
  div.content
    != content
