section
  h2 人狼系に共通の事項
  p 夜は他の人狼系と会話できます（[[孤独な狼]]を除く）。
  p また、生存している参加者から一人選択して襲撃できます（[[狂人狼]]を除く）。
  p 襲撃は人狼系全体で1人だけで、選択は早い者勝ちです。また、[[身代わりくん]]が存在する場合、1日目の夜は対象選択できません（自動的に[[身代わりくん]]が襲撃されます）。
  p [[スパイⅡ]]が存在する場合、誰が[[スパイⅡ]]かを把握できます。

  section
    h3 襲撃について
    p [[人狼系]]に襲撃された場合、[[無惨な姿で発見されます|死因一覧]]。
    p
      - var first=true;
      each val,key in jobs
        if val.wolfTolerance
          unless first
            | ・
          - first=false;
          | [[#{val.name}]]
      | は[[人狼系]]に襲撃されても死亡しません。
    p
      | また、
      - first=true;
      each val,key in jobs
        if val.wolfGuard
          unless first
            | ・
          - first=false;
          | [[#{val.name}]]
      | は[[人狼系]]の襲撃から護衛できる能力を持ちます。
    p また、[[貴族]]は[[奴隷]]が生存している場合[[奴隷]]を身代わりにします。
  section
    h3 ログ
    dl.logs
      dt 襲撃対象選択時
      dd
        p.log.skill ○○たち人狼は○○に狙いを定めました。
      dt 狼の遠吠え
      dd
        p.log.werewolf 狼の遠吠え: アオォーーン・・・
